RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{HTTP_HOST} ^(www\.)?indiasoc\.soc\.srcf\.net
RewriteRule ^(.*)$ https://indiasoc.co.uk/$1 [R,L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://indiasoc.co.uk/$1 [R,L]

Redirect /join https://collecte.io/cuis-membership-88681

Redirect /join.html https://lists.cam.ac.uk/mailman/listinfo/soc-indiasoc

Redirect /events /#events

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 405 /error.php
ErrorDocument 408 /error.php
ErrorDocument 500 /error.php
ErrorDocument 502 /error.php
ErrorDocument 504 /error.php