---
layout: default
title: CUIS
main: true
script: |
  <script src="js/slider/jquery.themepunch.tools.min.js"></script>
  <script src="js/slider/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="js/slider/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="js/slider/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="js/slider/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="js/slider/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="js/slider/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
  <script type="text/javascript" src="js/homepage.js"></script>
---


<!--
			=====================================================
				Theme Main SLider
			=====================================================
			-->
<!-- https://github.com/marsanla/SliderRevolution -->
<div id="home" class="banner">
	<div class="rev_slider_wrapper">
		<div id="title_wrap"
			style="text-align:center;z-index:100;width: 100%;position: absolute;height: 100vw;padding-left: 50px;padding-right: 50px;display: flex;align-items: center">
			<div style="margin: 0 auto;">
				<h1>Cambridge University India Society</h1>
				<br>
				<h6>Celebrating Indian culture in cambridge</h6>
				<p>
					<br>
					<a id="t12" href="#about-us" class="scroller project-button hvr-bounce-to-right ">See
						More</a>
				</p>
			</div>


		</div>
		<!-- TODO: replace with bootstrap carousel -->
		<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
		<div id="main-banner-slider" class="rev_slider video-slider" data-version="5.0.7">

			<ul>
				</li>
				<!-- SLIDE1  -->
				<li data-index="rs-18" data-transition="fade" data-slotamount="default" data-easein="default"
					data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off"
					data-title="Title Goes Here" data-description="">
					<!-- MAIN IMAGE -->
					<img src="img/slider/banner.jpg" alt="image" class="rev-slidebg" data-bgparallax="3"
						data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone"
						data-kenburns="off" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0"
						data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
					<!-- LAYERS -->

				</li>
			</ul>
		</div>
	</div>
	<!-- END REVOLUTION SLIDER -->
</div>
<!--  /#banner -->



<!--
			=====================================================
				About us Section
			=====================================================
			-->
<section id="about-us">
	<div class="container">
		<div class="theme-title">
			<h2>About Us</h2>
			<div style="text-align: justify">
				<p
					style="width:100%;font-size: 120%;margin: 0px 40 0 40;padding-left: 20px;padding-right: 20px;text-align: center">
					<span style="font-size: 150%">
						<b>Welcome to the Cambridge University India Society</b>
					</span>
					<div style="text-align: justify; text-align-last:center;">

						{{ page.about_us_text }}

						<p><a href="{{ page.constitution }}"> Our Constitution </a></p>
					</div>
			</div>
			</p>
			<p></p>
		</div>
		<!-- /.theme-title -->

	</div>
	<!-- /.container -->
</section>
<!-- /#about-us -->

<!--
			=====================================================
				Page middle banner
			=====================================================
			-->

<div id="join" class="page-middle-banner">
	<div class="opacity">
		<!-- image in style.css-->
		<h3>Join Us!</h3>
		<div style="text-align: justify; text-align-last: center;">
			<p style="margin:0 40px 0 40px ;font-size: 16px;font-weight: 200;color: #e8e8e8">{{ page.join_us_text }}</p>
		</div>
		<div>
			<a style="width:250px;margin: 20px 10px 20px 10px;" href="https://collecte.io/cuis-membership-88681"
				class="hvr-bounce-to-right">Become a Member</a>
			<a style="width:250px;margin: 20px 10px 20px 10px;"
				href="https://lists.cam.ac.uk/mailman/listinfo/soc-indiasoc" class="hvr-bounce-to-right">Join
				our mailing list</a>
			<a style="width:250px;margin: 20px 10px 20px 10px;" href="https://www.facebook.com/indiasoc/"
				class="hvr-bounce-to-right">Join our Facebook group</a>
		</div>
		<div style="text-align: center">
			<p style="margin:0 40px 0 40px ;font-size: 130%;font-weight: 200;color: #e8e8e8">For more
				information, please contact our
				<a href="mailto:{{ site.treasurer_email }}"
					style="width: 0;line-height: 0;color: #3071af;text-transform: initial;font-weight: 100;border-width: 0;">Treasurer</a>
			</p>
		</div>


	</div>
	<!-- /.opacity -->
</div>
<!-- /.page-middle-banner -->

<!--
			=====================================================
				Project Section
			=====================================================
			-->
<div id="events">
	<div id="project-section" style="text-align: center">
		<div class="container" style="text-align:center">
			<div class="theme-title">
				<h2>Our Events</h2>
				<p>We host a wide variety of events every term, see some of them below
					<br> If you have any events ideas, get in touch with our
					<a href=mailto:{{ site.ents_email }}@cam.ac.uk  >Ents officers</a>
				</p>
			</div>
			<!-- /.theme-title -->

			<div class="project-menu">
				<ul>
					<li class="filter active tran3s" data-filter=".upcoming">Upcoming Events</li>
					<li class="filter tran3s" data-filter=".past">Past Events</li>
					<li class="filter tran3s" data-filter=".all">All</li>
				</ul>
			</div>

			<div class="project-gallery clear-fix">
				<div class="row">
					{% for e in site.events %}
					{% include event.html event=e %}
					{% endfor %}
				</div>
			</div>
			<!-- project gallery-->
		</div>
		<!-- /.container -->
		<p style="margin-bottom: 22px;font-size: 130%">And many more ...</p>
		<a href={{ site.facebook_events }} class="project-button hvr-bounce-to-right"
			style=" width: 200px;margin-bottom:30px;line-height: 45px;color: #000;align:center;text-transform: uppercase;font-weight: 700;border-width: 1px;border-color: #d73e4d;border-style: solid;">See
			All Events</a>

	</div>
	<!-- /#project-section -->
</div>
</div>

<!--
			=====================================================
				Sponsor Section
			=====================================================
			-->

<div id="partner-section" style="margin:0 0 0 0;padding-top: 1px">
	<div class="theme-title">
		<h2>Thanks to our sponsors: </h2>
		<p></p>
	</div>
	<!-- /.theme-title -->

	<div class="container">
		<!-- TODO: replace with basic bootstrap carousel -->
		<div id="partner_logo" class="owl-carousel owl-theme">
			{% for s in site.data.sponsors.sponsors %}
			<div class="item">
				<img src="{{ s.image }}" alt="{{ s.name }}">
			</div>
			{% endfor %}
		</div>
		<!-- End .partner_logo -->
	</div>
	<!-- /.container -->
</div>
<!-- /#partner-section -->



<!--
			=====================================================
				Contact Section
			=====================================================
			-->
<a id="contact"></a>
<div id="contact-section">
	<div class="container" style="padding-top: 60px;">

		<!-- Contact Form -->
		<div class="send-message">
			<h2>Contact Us!</h2>
			<p>If you have any questions, please fill out the form below and click submit. You can also email a
				specific
				<a style="font-weight:bold" href="committee.html">committee</a> member.</p>

			<p>Alternatively join our
				<a style="font-weight:bold" href="{{ site.mailing_list }}">mailing list</a> to be kept up to date with all our
				info.</p>
			<p>
				<br>
			</p>
			<p></p>
			<form id="contact-form" method="POST" class="form-validation" autocomplete="off" netlify>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="single-input">
							<input id="Fname" type="text" placeholder="First Name*" name="Fname">
						</div>
						<!-- /.single-input -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="single-input">
							<input id="Lname" type="text" placeholder="Last Name*" name="Lname">
						</div>
						<!-- /.single-input -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="single-input">
							<input id="email" type="email" placeholder="Your Email*" name="email">
						</div>
						<!-- /.single-input -->
					</div>
				</div>
				<!-- /.row -->
				<div class="single-input">
					<input id="sub" type="text" placeholder="Subject" name="sub">
				</div>
				<!-- /.single-input -->
				<textarea id="message" placeholder="Write Message" name="message"></textarea>

				<input type='submit' id="contact_form_submit" class="tran3s p-color-bg">Send Message</button>
			</form>


			<!-- Contact Form Validation Markup -->
			<!-- Contact alert -->
			<div class="alert-wrapper" id="alert-success">
				<div id="success">
					<button class="closeAlert">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
					<div class="wrapper">
						<p id="success-message">Your message was sent successfully, we'll get back to you soon.</p>
					</div>
				</div>
			</div>
			<!-- End of .alert_wrapper -->
			<div class="alert-wrapper" id="alert-error">
				<div id="error">
					<button class="closeAlert">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
					<div class="wrapper">
						<p id="failure-message">Sorry! Something went wrong sending the message, please try again or
							contact the committee directly.</p>
					</div>
				</div>
			</div>
			<!-- End of .alert_wrapper -->
		</div>
		<!-- /.send-message -->
	</div>
	<!-- /.container -->
</div>
<!-- /#contact-section -->